<%= form_for @changeset, Routes.topic_path(@conn, :update, @topic), fn f -> %>
  <div class='row'>
    Name: <%= text_input f, :title, placeholder: "Title", class: "form-control" %>
    <%= error_tag f, :title %>
  </div>
  <%= submit "Submit" %>
<% end %>