<h1>Topics</h1>

<ul class="collection">
  <%= for topic <- @topics do %>
    <li><%= topic.title %></li>
    <li><%= link "Edit", to: Routes.topic_path(@conn, :edit, topic)%></li>
    <li><%= link "Delete", to: Routes.topic_path(@conn, :delete, topic), method: :delete %></li>
  <% end %>
</ul>

<div class='row'>
  <%= link to: Routes.topic_path(@conn, :new), class: 'btn-floating' do %>
    <i>Add</i>
  <% end %>
</div>